.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--line);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--pad-lg);
  background: var(--bg);
}